@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Sanjay Kumar</h1>
    <p>Student ID: 500229523</a>.</p>
    <hr />
    <div>Host operating system- @Model.OSVersion</div>
</div>
